<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"> 
<suite name="Banking_Project"> 

<test name= "Chrome_Test">
<parameter name="Browser" value="chrome"></parameter>
 <classes> 
     <class name="crm.ApplicationTest">
       <methods>
            <include name= "BrowserEngin"></include>
            <include name="verifyPage"></include>
            <include name="Click_on_Shop"></include>
       </methods>
     </class>
 </classes>
</test> 
</suite>  